.loading {
  color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .75;
  text-transform: uppercase;
  font-size: 3rem;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  background-color: #0000cc;
  margin: 0;

  &--list {
    margin: 0 0 20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    align-items: center;
    list-style: none;
    border-bottom: 3px solid #00004d;

  }

  &--character {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #fff;
      transition: color, .5s;

      &:hover {
        color: #cc9900;
        transition: color, .5s;
      }
    }
  }
}

.character {
  width: 100%;
  text-align: center;

  &--image {
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    border-radius: 5px;
    transition: box-shadow, 1s;

    &:hover {
      box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.75);
      transition: box-shadow, 1s;
    }
  }

  &--name {
    font-size: 2rem;
    margin: -5px 0 0 0;
    text-transform: uppercase;
  }

  &--description {
    margin: 20px auto;
    width: 604px;
    text-align: justify;

  }

  &--comic {
    margin: 10px;
    font-size: 2rem;

    &-img {
      width: 600px;
      border: 2px solid #000;
      border-radius: 5px;
      transition: box-shadow, 1s;

      &:hover {
        box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.75);
        transition: box-shadow, 1s;
      }
    }
  }

}
